<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" [routerLink]="['diseno']">Diseño</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['produccion']">Producción</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['software']">Software</button>
              </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet> 